*{
    margin: none;
    padding: none;
    box-sizing: border-box;
}

body{
    max-width: 80%;
    margin: 1em auto 2em;
    background-color: rgb(244, 247, 255);
    font-family: Poppins;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 1em;
    border-radius: 1em;
}

.container-logo{
    display: flex;
    align-items: center;
}

.container-logo > div > img{
    width: 60%;
    height: auto;
}

.container-logo > div > span{
    font-weight: 600;
}

.secondary-btn{
    padding: 0.5em 1em;
    background-color: rgb(55, 82, 253);
    border-radius: 0.5em;
    border: none;
    cursor: pointer;
    color: white;
}

.secondary-btn:hover{
    background-color: blue;
}

.secondary-btn > a{
    text-decoration: none;
    color: white;
}

h2{
    text-align: center;
}

.Question-container{
    padding: 0.5em 1em;
    background-color: white;
    border-radius: 0.5em;
    margin-bottom: 1em;
}

.ans{
    font-weight: 300;
    font-size: 0.8rem;
}

